@import url('https://fonts.google.com/specimen/Nunito+Sans');
* {
    box-sizing: border-box;
}

 :root {
    --background-el: hsl(0, 0%, 100%);
}

body {
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

body.dark {
    background-color: hsl(207, 26%, 17%);
    --background-el: hsl(209, 2%, 22%);
    color: hsl(0, 0%, 98%);
    ;
}

header {
    background-color: var(--background-el);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.12);
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1440px;
    padding: 30px;
}

h1 {
    margin: 0;
}


/* Theme button styling */

.btn-toggle {
    background-color: var(--background-el);
    border: none;
    font-size: 16px;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* margin: 4px; */
    /* padding: 4px; */
    width: 150px;
}

.btn-toggle .fas {
    display: none;
}

body .dark .btn-toggle .fas {
    display: inline-block;
}

body .dark .btn-toggle .far {
    display: none;
}

.search::placeholder {
    color: inherit;
}


/* Input Styling */

.search {
    color: inherit;
    padding: 25px;
    background-color: var(--background-el);
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.12);
    font-family: 'Nunito-Sans', sans-serif;
    font-size: 18px;
    min-width: 340px;
}


/* Dropdown Styling */

.dropdown {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.12);
    padding: 25px;
    font-size: 18px;
    color: #000;
    position: relative;
    background-color: var(--background-el);
}

.dropdown ul {
    position: absolute;
    display: none;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.12);
    left: 0;
    top: 100%;
    list-style: none;
}

.dropdown ul li {
    margin: 5px 0;
}

.dropdown .fa-chevron-down {
    margin-left: 10px;
}


/* Country flag styling */

.country {
    border-radius: 4px;
    background-color: var(--background-el);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.12);
    overflow: hidden;
    width: 300px;
    cursor: pointer;
    margin: 40px;
}

.country-info {
    padding: 30px;
}

.country-info h2 {
    margin-top: 0;
}

.container.countries {
    justify-content: center;
}


}