@import url('https://fonts.google.com/specimen/Nunito+Sans');

* {
    box-sizing: border-box;
}

:root {
    --background-el: hsl(0, 0%, 100%);
}

body {
    background: #e2e1e0;
    color: hsl(200, 15%, 8%);
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

body.dark {
    background-color: hsl(207, 26%, 17%);
    --background-el: hsl(209, 2%, 22%);
    color: hsl(0, 0%, 98%);
    ;
}

header {
    background-color: var(--background-el);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.12);
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1440px;
    padding: 30px;
}

h1 {
    margin: 0;
}


/* Theme button styling */

.btn-toggle {
    background-color: var(--background-el);
    border: none;
    font-size: 16px;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* margin: 4px; */
    /* padding: 4px; */
    width: 120px;
}

.btn-toggle .fas {
    display: none;
}

body.dark .btn-toggle .fas {
    display: inline-block;
}

body.dark .btn-toggle .far {
    display: none;
}

.search::placeholder {
    color: inherit;
}


/* Input Styling */

.search {
    color: inherit;
    padding: 25px;
    background-color: var(--background-el);
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.12);
    font-family: 'Nunito-Sans', sans-serif;
    font-size: 18px;
    min-width: 340px;
}


/* Dropdown Styling */

.dropdown {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.12);
    padding: 25px;
    font-size: 18px;
    color: #000;
    position: relative;
    background-color: var(--background-el);
}

.dropdown ul {
    position: absolute;
    background-color: var(--background-el);
    list-style-type: none;
    display: none;
    width: 100%;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.12);
    left: 0;
    top: 100%;
    z-index: 1;
}

.dropdown.open ul {
    display: block;
}

.dropdown ul li {
    margin: 5px 0;
}

.dropdown.fa-chevron-down {
    margin-left: 10px;
}


/* Country flag styling */

.country {
    border-radius: 4px;
    background-color: var(--background-el);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    width: 300px;
    cursor: pointer;
    margin: 40px;
}

.country:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.country-info {
    padding: 30px;
}

.country-info h2 {
    margin-top: 0;
}

.container.countries {
    justify-content: center;
}

.hide {
    visibility: hidden;
}

.visible {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    z-index: 10;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fademodal ease 0.1s;
}

.show-modal {
    width: 700px;
    background-color: white;
    position: absolute;
    top: 1;
    animation: fademodal ease 0.1s;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(102, 75, 75, 0.13), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.list-split ul li {
    text-align: left;
    list-style: none;
}

.list-split ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.show-modal li span {
    font-weight: bold;
}

@keyframes fademodal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.close-btn {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 14px;
    background: none;
    border: 1px solid rgb(207, 207, 207);
    color: black;
    padding: 5px 15px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
}

.details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: left;
}

.details-container .item-details {
    width: 60%;
    padding: 20px;
}

.flag-container {
    width: 40%;
    height: 100%;
}

.flag-container img {
    padding: 20px;
}

.list-split {
    display: flex;
    font-size: 14px;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.border-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: 12px;
}

.border-btn {
    border-radius: 4px;
    background: none;
    border: 1px solid rgb(207, 207, 207);
    padding: 5px 10px;
    margin: 5px;
    font-size: 12px;
    cursor: pointer;
}

.border-btn-container span {
    margin-top: 10px;
    margin-right: 45px;
    font-weight: bold;
}